*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background:linear-gradient(to bottom right,#0debe0e3,#0db7ebe3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: linear-gradient(to right bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.2));
    height: 40vh;
    width:60vh;
    border-radius: 15px;
    z-index: 4;
    backdrop-filter: blur(1rem);
    /*  */
    display:flex;
    align-items: center;
    flex-direction: column;
}

.title{
    margin-top: 3vh;
}

.form{
    margin-top: 6vh;
}

.circle1,.circle2,.circle3{
    background: linear-gradient(
        to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.1));
    height:20vh;
    width:20vw;
    position:absolute;
    top:5%;
    left:10%;
    z-index: 3;
    border-radius:50%;
}

.circle1{
    height:10vh;
    width:10vh;
    top:70%;
}

.circle2{
    height:15rem;
    width:15rem;
    top:7%;
    left:15%;
}

.circle3{
    background: linear-gradient(
        to right bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.1));
    height:7rem;
    width:7rem;
    top:25%;
    left:60%
}


.input{
    margin:1vh;
    border-radius: 4px;
    height:3vh;
    width:25vh;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    width:15vh;
}